body {
	font-family: sans-serif;
}

.logo-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  margin: 63px auto;
align-items: flex-start;
width: 1280px;

}

h1 {display: inline-block;
margin-bottom: 38px;
width: 334px;
border: 4px solid #73edf3;
}
.head-title {
    font-size: 75px;
   
    color: black;
    
}

.head-menu {
    display: flex;
margin: 0 auto;
justify-content: space-between;
	width: 1280px;
   height: 72px;
   background-color: #35444F;
  
   
}
.head-menu-item {
    font-size: 27px;
    border-left: 1px solid white ;
  padding: 26px 40px 19px 40px;

 
}
.menu-link {
    font-size: 23px;
    color: white;
}

.menu-link:hover {
    color: #9bcce0;
    transition: 0.5s;   
}

main {
    width: 1280px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
aside {display: flex;
    flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
line-height: 69px;
    border: 1px solid black;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 344px;
}
.list-item {
    display: block;
    color: #485863;
    width: auto;
   padding-left: 60px;
   font-size: 24px; 
 }
 
 .list-item:hover {
      background-color: #cedde2;
    color: black;
    
 padding-left: 100px;
     transition: 0.5s;
     font-style: bolder;
     border: 2px solid rgba(23, 144, 243, 0.934);
 } 
   
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center; 
   width: 885px;
}
.image {
   display: flex;
    padding-top: 100px;
    
    padding-bottom: 100px;
    justify-content: center;
    border: 1px solid black;
  min-width: 885px;
}
.image:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
 .content {
min-width: 885px;
padding-top: 34px;
   } 
.container {
    display: flex;
    justify-content: space-between;
width: 1280px;
margin: 63px auto;
background-color: #63696E7A;
color: #000;
}
.menu-bottom {
    display: flex;
    justify-content: space-between;
padding: 20px 40px 21px 40px;
}
.list-item-bottom {
    display: block;
    color: #485863;
   padding-left: 60px;
   font-size: 24px;

}
.copyright {
    padding-top:20px;
    padding-bottom: 21px;
    padding-right: 40px;
    font-size: 20px;
}
.list-item-bottom:hover {
  color: rgb(26, 142, 188);
   transition: 0.5s;
   text-decoration: underline rgb(28, 132, 167);
} 